<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<appSettings>
		<add key="CommandTimeout" value="0" />
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="ConexionDBOperaciones" value="OPER-D"/>
		<add key="ConexionDBSeguridad" value="OPER-D"/>
		<add key="ConexionDBLogs" value="LOGS-D"/>
		<add key="GiactApiUsername" value="TRN9R-OLFGD-HN1P5-PMF7EY-DU13O"/>
		<add key="GiactApiPassword" value="ifY_fZ5-JLFMYwc"/>
		<!--<add key="GiactApiUsername" value="7M0Q79-2SL71-NU8Q4I-Q81RE-BY4FPT-G8X0GI" />
    <add key="GiactApiPassword" value="7Wud7_ygT8xYXl8-21" />-->
	</appSettings>
	<connectionStrings>
		<!--Servers
    <add name="OPER-P" connectionString="x/3y3yPnXrR2Csyda3X04h6ky9dWfO8ICZed8Y7f24OXGRcUsvqY/UTeS3zXuYie0MCzRoPWvcBpQl/ojRPEDHK0a5lrn+eRQTElS7gPh8AgIpsFImfUY4hWHwdKzg1oPVGMVzvv1OA1RpnODrPlQwWSgDd5davFXOuP7ZT3xvln9/5Pj1blEYO6WIpKOS/VHiOe60zvDKE9RUTcGBJphOIejO9cONJ9GHValF4g/7Qj4fjWtU9QNdHzu8N8Tgs2qQU90yynPl3iqnvFIP8B8fZToMh9s29h35H691UPw70="/>
    <add name="LOGS-P" connectionString="x/3y3yPnXrR2Csyda3X04h6ky9dWfO8ICZed8Y7f24OXGRcUsvqY/UTeS3zXuYie0MCzRoPWvcBpQl/ojRPEDHK0a5lrn+eRQTElS7gPh8AgIpsFImfUY4hWHwdKzg1oPVGMVzvv1OA1RpnODrPlQwWSgDd5davFXOuP7ZT3xvln9/5Pj1blEYO6WIpKOS/VHiOe60zvDKE9RUTcGBJphOIejO9cONJ9GHValF4g/7Qj4fjWtU9QNdHzu8N8Tgs2qQU90yynPl3iqnvFIP8B8fZToMh9s29h35H691UPw70="/>
    -->
		<!--<add name="OPER-D" connectionString="data source=192.100.3.8;initial catalog=MAXI;persist security info=True;user id=TSI_JairGarza;password=PB1PHmbOYWzX0nlDIEsqhO2mpbUe/eCJ03DAcfE03wA=;Connection Timeout=60;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=32767;Pooling=true;"/>
    <add name="LOGS-D" connectionString="data source=192.100.3.8;initial catalog=MAXILog;persist security info=True;user id=TSI_JairGarza;password=PB1PHmbOYWzX0nlDIEsqhO2mpbUe/eCJ03DAcfE03wA=;Connection Timeout=60;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=32767;Pooling=true;"/>-->
		<!--<add name="OPER-D" connectionString="data source=192.168.1.10;initial catalog=MAXIDEV;persist security info=True;user id=jisotelo;password=j*67pRRkVn7OerQ$s%;Connection Timeout=60;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=32767;Pooling=true;"/>
	<add name="LOGS-D" connectionString="data source=192.168.1.10;initial catalog=MAXILOGDEV;persist security info=True;user id=jisotelo;password=j*67pRRkVn7OerQ$s%;Connection Timeout=60;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=32767;Pooling=true;"/>-->
		<add name="OPER-D" connectionString="Data Source=192.168.5.10;Initial Catalog=MAXIDEV;User ID=cbarroyo;Password=3C1V3*acK!%IxA6tQd;Connection Timeout=60;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=32767;Pooling=true;" />
		<add name="LOGS-D" connectionString="Data Source=192.168.5.10;Initial Catalog=MAXILOG;User ID=cbarroyo;Password=3C1V3*acK!%IxA6tQd;Connection Timeout=60;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=32767;Pooling=true;" />
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
	<system.web>
		<compilation targetFramework="4.6.1" debug="true"/>
		<httpRuntime targetFramework="4.5.2"/>
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="WSHttpBinding_IApiOrboService" closeTimeout="00:30:00" openTimeout="00:10:00" receiveTimeout="Infinite" sendTimeout="00:20:00" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
					<security mode="Transport">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
				<binding name="BasicHttpBinding_IOrboService" closeTimeout="00:30:00" openTimeout="00:10:00" receiveTimeout="Infinite" sendTimeout="00:20:00" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
					<security mode="Transport">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
				<binding name="InquiriesWS-5-8Soap">
					<security mode="Transport"/>
				</binding>
			</basicHttpBinding>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IOrboService" messageEncoding="Mtom">
					<security mode="Transport">
						<transport clientCredentialType="None"/>
						<!-- <message clientCredentialType="UserName" />   -->
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://orbo5.maxiagentes.net/OrboAnyWhereAPI/OA_ApiSyncService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrboService" contract="OrbographWebService.IOrboService" name="BasicHttpBinding_IOrboService"/>
			<!--<endpoint address="http://10.100.90.26:8080/OrboAnyWhere/OrboService.svc/basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrboService" contract="OrbographWebService.IOrboService" name="BasicHttpBinding_IOrboService" />-->
			<!--<endpoint address="https://orbo/OrboAnyWhere/OrboService.svc"
                binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IOrboService"
                contract="OrbographWebService.IOrboService"
                name="WSHttpBinding_IOrboService" />-->
			<!--<endpoint address="https://sandbox.api.giact.com/verificationservices/v5/InquiriesWS-5-8.asmx" binding="basicHttpBinding" bindingConfiguration="InquiriesWS-5-8Soap" contract="GiactService.InquiriesWS58Soap" name="InquiriesWS-5-8Soap" />-->
			<endpoint address="https://api.giact.com/verificationservices/v5/InquiriesWS-5-8.asmx" binding="basicHttpBinding" bindingConfiguration="InquiriesWS-5-8Soap" contract="GiactService.InquiriesWS58Soap" name="InquiriesWS-5-8Soap"/>
		</client>
		<behaviors>
			<endpointBehaviors>
				<behavior name="CustomBehavior">
					<clientCredentials>
						<clientCertificate findValue="27ac9369faf25207bb2627cefaccbe4ef9c319b8" x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My"/>
						<!--<clientCertificate findValue="47beabc922eae80e78783462a79f45c254fde68b"
                               x509FindType="FindByThumbprint"
                               storeLocation="LocalMachine"
                               storeName="Root" />-->
						<serviceCertificate>
							<authentication certificateValidationMode="PeerTrust"/>
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
<!--ProjectGuid: FD9245A6-FB4E-4D87-866D-0D7D944AD165-->